@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  background-color: #545F7D;
}

.container {
  display: flex;
  width: 800px;
  height: 450px;
  margin: 0 auto;
  padding: 20px;
}

.game-field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-basis: 70%;
  width: 100%;
  height: 100%;
  position: relative;
}

.cell {
  background-color: #44425E;
}

.border-right {
  position: absolute;
  height: 100%;
  width: 7px;
  right: 32.5%;
  background-color: #A855C1;
}
.border-right::before {
  position: absolute;
  bottom: 100%;
  content: "";
  display: block;
  width: 7px;
  height: 10px;
  border-radius: 3px 3px 0 0;
  background-color: #A855C1;
}
.border-right::after {
  position: absolute;
  top: 100%;
  content: "";
  display: block;
  width: 7px;
  height: 10px;
  border-radius: 0 0 3px 3px;
  background-color: #A855C1;
}

.border-bottom {
  position: absolute;
  height: 7px;
  width: 100%;
  bottom: 32.5%;
  background-color: #A855C1;
}
.border-bottom::before {
  position: absolute;
  right: 100%;
  content: "";
  display: block;
  width: 10px;
  height: 7px;
  border-radius: 3px 0 0 3px;
  background-color: #A855C1;
}
.border-bottom::after {
  position: absolute;
  left: 100%;
  content: "";
  display: block;
  width: 10px;
  height: 7px;
  border-radius: 0 3px 3px 0;
  background-color: #A855C1;
}

.border-top {
  position: absolute;
  top: 32.5%;
  background-color: #A855C1;
  width: 100%;
  height: 7px;
}
.border-top::after {
  position: absolute;
  left: 100%;
  content: "";
  display: block;
  width: 10px;
  height: 7px;
  border-radius: 0 3px 3px 0;
  background-color: #A855C1;
}
.border-top::before {
  position: absolute;
  right: 100%;
  content: "";
  display: block;
  width: 10px;
  height: 7px;
  border-radius: 3px 0 0 3px;
  background-color: #A855C1;
}

.border-left {
  position: absolute;
  height: 100%;
  width: 7px;
  left: 32.5%;
  background-color: #A855C1;
}
.border-left::before {
  position: absolute;
  bottom: 100%;
  content: "";
  display: block;
  width: 7px;
  height: 10px;
  border-radius: 3px 3px 0 0;
  background-color: #A855C1;
}
.border-left::after {
  position: absolute;
  top: 100%;
  content: "";
  display: block;
  width: 7px;
  height: 10px;
  border-radius: 0 0 3px 3px;
  background-color: #A855C1;
}

.cross {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross .cross__left {
  position: absolute;
  width: 15px;
  height: 100%;
  background-color: #C4C4C4;
  transform: rotate(45deg);
}
.cross .cross__right {
  position: absolute;
  width: 15px;
  height: 100%;
  background-color: #C4C4C4;
  transform: rotate(-45deg);
}

.zero {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zero .zero__ring {
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  border: 15px solid #C4C4C4;
}

.score {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 30px;
  padding: 0 30px;
}
.score .first-player__score, .score .second-player__score, .score .score__title {
  font-size: 40px;
  font-weight: normal;
  color: #fff;
}

.win {
  position: absolute;
}

.win.leftY {
  position: absolute;
  margin-top: 4.5%;
  left: 15.5%;
  width: 15px;
  height: 90%;
  background-color: #AF3D38;
  border-radius: 8px;
}

.win.middleY {
  position: absolute;
  margin-top: 4.5%;
  left: 48.5%;
  width: 15px;
  height: 90%;
  background-color: #AF3D38;
  border-radius: 8px;
}

.win.rightY {
  position: absolute;
  margin-top: 4.5%;
  right: 15.5%;
  width: 15px;
  height: 90%;
  background-color: #AF3D38;
  border-radius: 8px;
}

.win.topX {
  position: absolute;
  margin-left: 4.5%;
  top: 14.5%;
  width: 90%;
  height: 15px;
  background-color: #AF3D38;
  border-radius: 8px;
}

.win.middleX {
  position: absolute;
  margin-left: 4.5%;
  top: 47.5%;
  width: 90%;
  height: 15px;
  background-color: #AF3D38;
  border-radius: 8px;
}

.win.bottomX {
  position: absolute;
  bottom: 14.5%;
  width: 90%;
  height: 15px;
  background-color: #AF3D38;
  border-radius: 8px;
}

.win.leftDiagonal {
  align-self: center;
  position: absolute;
  transform: rotate(41deg);
  width: 100%;
  height: 15px;
  background-color: #AF3D38;
  border-radius: 8px;
}

.win.rightDiagonal {
  align-self: center;
  position: absolute;
  transform: rotate(-41deg);
  width: 100%;
  height: 15px;
  background-color: #AF3D38;
  border-radius: 8px;
}

/*# sourceMappingURL=index.css.map */
